<div class="container">

  <mat-toolbar class="custom-toolbar">

    <button
      mat-button
      class="btn-rojo"
      [matMenuTriggerFor]="menuCosecha"
    >
      <mat-icon>assessment</mat-icon>
      Cosecha
    </button>

    <button
      mat-button
      class="btn-rojo"
      [matMenuTriggerFor]="menuLote"
    >
      <mat-icon>android</mat-icon>
      Lote
    </button>

  </mat-toolbar>

  <mat-menu #menuCosecha="matMenu">
    <button mat-menu-item routerLink="/cosecha/listar-cosecha">
      <mat-icon>list</mat-icon>
      Lista cosecha
    </button>

    <button mat-menu-item routerLink="/cosecha/insertar-cosecha">
      <mat-icon>add</mat-icon>
      Registrar cosecha
    </button>
  </mat-menu>

  <mat-menu #menuLote="matMenu">
    <button mat-menu-item routerLink="/lote/listar-lote">
      <mat-icon>list</mat-icon>
      Lista lote
    </button>

    <button mat-menu-item routerLink="/lote/insertar-lote">
      <mat-icon>add</mat-icon>
      Registrar lote
    </button>
  </mat-menu>

</div>

<router-outlet></router-outlet>

