<div class="container">
  <h2>Lista de cosechas</h2>
  <div>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <!--- Note that these columns can be defined in any order.

    The actual rendered columns are set as a property on the row definition" -->

      <!-- Position Column -->

      <ng-container matColumnDef="c1">
        <th mat-header-cell *matHeaderCellDef>ID.</th>

        <td mat-cell *matCellDef="let element">{{ element.idCosecha }}</td>
      </ng-container>

      <!-- Name Column -->

      <ng-container matColumnDef="c2">
        <th mat-header-cell *matHeaderCellDef>Cantidad</th>

        <td mat-cell *matCellDef="let element">{{ element.cantidad }}</td>
      </ng-container>

      <!-- Weight Column -->

      <ng-container matColumnDef="c3">
        <th mat-header-cell *matHeaderCellDef>Estado Cosecha</th>

        <td mat-cell *matCellDef="let element">{{ element.estadoCosecha }}</td>
      </ng-container>

      <!-- Symbol Column -->

      <ng-container matColumnDef="c4">
        <th mat-header-cell *matHeaderCellDef>Firma Electronica</th>

        <td mat-cell *matCellDef="let element">{{ element.firmaElectronica }}</td>
      </ng-container>
      <!-- Symbol Column -->

      <ng-container matColumnDef="c5">
        <th mat-header-cell *matHeaderCellDef>Responsable</th>

        <td mat-cell *matCellDef="let element">{{ element.responsable }}</td>
      </ng-container>
      <!-- Symbol Column -->

      <ng-container matColumnDef="c6">
        <th mat-header-cell *matHeaderCellDef>Metodos</th>

        <td mat-cell *matCellDef="let element">{{ element.metodos }}</td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="c7">
        <th mat-header-cell *matHeaderCellDef>lote Id</th>

        <td mat-cell *matCellDef="let element">{{ element.loteId }}</td>
      </ng-container>
      <!-- Symbol Column -->
      <ng-container matColumnDef="c8">
        <th mat-header-cell *matHeaderCellDef>Eliminar</th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button color="warn" (click)="eliminar(element.idCosecha)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
            </ng-container>
                  <!-- Update Column -->
             <ng-container matColumnDef="c9">
                <th mat-header-cell *matHeaderCellDef> Actualizar </th>
                <td mat-cell *matCellDef="let element"> 
                        <button matButton [routerLink] = "['/cosecha/actualizar-cosecha', element.idCosecha]" class = "btn-actualizar">
                            <mat-icon>edit</mat-icon>
                        </button>
                </td>
            </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
</div>
