<div class="container">
  <div><h2>Actualizar Cosecha</h2></div>
  <div>
    <form [formGroup]="form"(submit)="aceptar()">

      <mat-form-field class="example-full-width">
        <mat-label>ID</mat-label>
        <input matInput formControlName="codigo" readonly="true" />
      </mat-form-field>

      <br />
      <mat-form-field class="example-full-width">
        <mat-label>Cantidad</mat-label>
        <input matInput placeholder="DevMovileApp" formControlName="cantidad" />
      </mat-form-field>
      <br />
      <mat-form-field>
        <mat-label>Estado de la cosecha</mat-label>
        <textarea matInput formControlName="estadoCosecha"></textarea>
      </mat-form-field>

      <br />
      <mat-form-field>
        <mat-label>Firma Electronica</mat-label>
        <textarea matInput formControlName="firmaElectronica"></textarea>
      </mat-form-field>

      <br />
      <mat-form-field>
        <mat-label>Responsable</mat-label>
        <textarea matInput formControlName="responsable"></textarea>
      </mat-form-field>
      <br />
      <mat-form-field>
        <mat-label> Metodos</mat-label>
        <textarea matInput formControlName="metodos"></textarea>
      </mat-form-field>
      <br />
      <mat-form-field>
        <mat-label> Lote ID</mat-label>
        <textarea matInput formControlName="loteId"></textarea>
      </mat-form-field>
      <div class="example-button-row">
        <button matButton="elevated">Actualizar</button>
      </div>
    </form>
  </div>
</div>
